<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Solana Tap 🚰  - Faucet for Solana Testnet and Devnet</title>
        <meta name="description" content=" Solana Tap is a free faucet for solana testnet and devnet, Enter your wallet address and recieve solana airdrop devnet and testnet airdropped. ">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
		<!-- CSS here -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/fontawesome-all.min.css">
        <link rel="stylesheet" href="css/themify-icons.css">
        <link rel="stylesheet" href="css/meanmenu.css">
        <link rel="stylesheet" href="css/custom-animation.css">
        <link rel="stylesheet" href="css/aos.css">
        <link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" href="css/default.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-LEMSLT8YKM"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'G-LEMSLT8YKM');
        </script>
    </head>
    <body>

       
        <!-- header start -->
        <header id="header-sticky" class="header-transparent header-text-white">
            <div class="header-area">
                <div class="container">
                    <div class="position-relative">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    
                                    <a style="color: white; font-size: large;"href="#">  Solana Tap 🚰  </a>
                        
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 position-static">
                                <div class="main-menu red-menu white-menu text-center">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li><a href="#">Home</a>
                                               
                                            </li>
                                            <li><a href="https://www.twitter.com/devpranoy">About</a>
                                               
                                            </li>
                                            <li><a href="https://explorer.solana.com/">Solana Explorer</a>
                                               
                                            </li>
                                            
                                            
                                            
                                        </ul>
                                    </nav>
                                </div>
                                <div class="mobile-menu"></div>
                            </div>


                            
                            <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                                <div class="header-btn text-right">
                                    <a href="https://www.buymeacoffee.com/devpranoy"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=devpranoy&button_colour=ffffff&font_colour=000000&font_family=Poppins&outline_colour=000000&coffee_colour=FFDD00"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->

        <main>

            <!-- slider-area -->
            <section class="slider-area fix">
                <div class="single-slider slider-height-2 slider-height-4 pt-280" style="background-image: url(img/slider/blue-bg.png)">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-10">
                                <div class="slider-text-4 pt-0">
                                    <h2 class="wow fadeInUp animated" data-wow-delay="0.4s">Recieve Testnet and Devnet Solana ⛓️ </h2>
                                    <p class="wow fadeInUp animated" data-wow-delay="0.9s">Solana is a high-performance blockchain supporting builders around the world creating crypto apps that scale. We have made this faucet to make it easier for building and testing your projects. </p>
                                    <div class="hero-form wow fadeInUp animated" data-wow-delay="1.3s">
                                        <form method="POST">
                                            <input name="address" type="text" placeholder="Enter your Solana Wallet Address">
                                            <button type="submit">Get Sol</button>
                                        </form> <br>
                                        {% with messages = get_flashed_messages(with_categories=true) %}  
                                            {% if messages %}  
                                                {% for category, message in messages %}  
                                                <div class="alert alert-{{category}}" role="alert">
                                                     {{ message }}  
                                                </div>
                                                {% endfor %}  
                                            {% endif %}  
                                        {% endwith %} 
                                        

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 d-none d-lg-block">
                                <div class="slider-img-2 wow fadeInRight animated" data-wow-duration="2.5s">
                                    <img src="img/slider/home.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- slider-area end -->
            
        </main>

        <!-- footer start  -->
        <footer class="gray-bg">
            
            <div class="copyright-area">
                <div class="container">
                    <div class="copyright-border">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="copyright">
                                    <p>Built with ❤️ from India 🇮🇳 by <a href= "https://www.pranoy.dev">Pranoy Dev</a> </p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="footer-menu text-left text-md-right">
                                    <ul>
                                        <li>Donate Solana</li>
                                        <li> Cuy52vP3EMsefitzQv4cNoi7THfKfZJSuLJCihovveEy</li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end  -->






		<!-- JS here -->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/one-page-nav-min.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/jquery.meanmenu.min.js"></script>
        <script src="js/ajax-form.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
